<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="60">
    <Appenders>
        <MyAppender name="myAppender">
            <PatternLayout pattern="%c %d{ISO8601} -- %p -- %m%n"/>
        </MyAppender>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="myAppender"/>
        </Root>
    </Loggers>
</Configuration>
